<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= book.subtitle %>
  </p>

  <p>
    <strong>Release:</strong>
    <%= book.release %>
  </p>

  <p>
    <strong>Capa:</strong><br>
    <%= book.cover %>
 </p>

</div>
